
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">


  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.tsystems.webapp.servlets.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TrainServlet</servlet-name>
    <servlet-class>com.tsystems.webapp.servlets.TrainServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TrainServlet</servlet-name>
    <url-pattern>/TrainServlet.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>StationServlet</servlet-name>
    <servlet-class>com.tsystems.webapp.servlets.StationServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StationServlet</servlet-name>
    <url-pattern>/StationServlet.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ScheduleServlet</servlet-name>
    <servlet-class>com.tsystems.webapp.servlets.ScheduleServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ScheduleServlet</servlet-name>
    <url-pattern>/ScheduleServlet.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PassengerServlet</servlet-name>
    <servlet-class>com.tsystems.webapp.servlets.PassengerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PassengerServlet</servlet-name>
    <url-pattern>/PassengerServlet.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TripsServlet</servlet-name>
    <servlet-class>com.tsystems.webapp.servlets.TripsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TripsServlet</servlet-name>
    <url-pattern>/TripsServlet.do</url-pattern>
  </servlet-mapping>

</web-app>
